@import './variables.scss';
//reset
* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background: #f1f1f1;
}

a {
    color: #666;
}

//colors
// text
@each $colorKey,
$color in $colors {
    .text-#{$colorKey} {
        color: $color;
    }
}

// 单行省略号显示
.text-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@each $colorKey,
$color in $colors {
    .bg-#{$colorKey} {
        background-color: $color;
    }
}

@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var !important;
    }
}

// font-sizes
@each $sizeKey,
$size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size*$base-font-size;
    }
}

// width,height
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

// flex
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

@each $key,
$value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}

@each $key,
$value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

.flex-1 {
    flex: 1;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

// spacing
// 0-5
// .mt-1  margit top leave
@each $typeKey,
$type in $spacing-types {
    // m-1
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size*$spacing-base-size;
        }
    }
    // mx-1
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size*$spacing-base-size;
            #{$type}-right: $size*$spacing-base-size;
        }
    }
    // my-1
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size*$spacing-base-size;
            #{$type}-bottom: $size*$spacing-base-size;
        }
    }
    // mt-1
    @each $directionKey,
    $direction in $spacing-directions {
        @each $sizeKey,
        $size in $spacing-sizes {
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction}: $size*$spacing-base-size;
            }
        }
    }
}

//button
.btn {
    border: none;
    border-radius: .153846rem;
    font-size: map-get($font-sizes, 'sm')*$base-font-size;
    padding: 0.2rem 0.5rem;
}

//nav
.nav {
    display: flex;
    .nav-item {
        border-bottom: 3px solid transparent;
        padding-bottom: 0.2rem;
        &.active {
            color: map-get($colors, 'primary');
            border-bottom: 3px solid map-get($colors, 'primary');
        }
    }
    &.nav-inverse {
        .nav-item {
            color: map-get($colors, 'white');
            &.active {
                border-bottom: 3px solid map-get($colors, 'white');
            }
        }
    }
}

// sprite
.sprite {
    background: url(../image/index.png) no-repeat 0 0;
    background-size: 28.846154rem;
    display: inline-block;
    &.sprite-news {
        width: 1.846154rem;
        height: 1.538462rem;
        background-position: 36.467% 15.287%;
    }
    &.sprite-arrow {
        background-position: 38.577% 52.076%;
        width: .769231rem;
        height: .769231rem;
    }
}

.lh {
    line-height: 1.5em;
}